services:
  # --- 1. BACKEND (PYTHON) ---
  backend:
    image: anggoro2711/my-local-backend:latest
    container_name: backend_app
    restart: unless-stopped
    ports:
      # KITA BUKA PORT LANGSUNG KE WINDOWS
      - "8000:8000"
    networks:
      - local-net
    environment:
      # Izinkan backend menerima request dari mana saja
      - ALLOWED_ORIGINS=*

  # --- 2. FRONTEND (NEXT.JS) ---
  frontend:
    image: anggoro2711/my-local-frontend:latest
    container_name: frontend_app
    restart: unless-stopped
    ports:
      # KITA BUKA PORT LANGSUNG KE WINDOWS
      - "3000:3000"
    networks:
      - local-net
    environment:
      # Penting: Agar Next.js tahu dia berjalan di localhost saat fetch di browser
      - NEXT_PUBLIC_API_URL=http://localhost:8000

  # --- 3. WATCHTOWER (AUTO UPDATE) ---
  # Ini tetap kita pakai biar CI/CD tetap jalan
  watchtower:
    image: containrrr/watchtower
    container_name: watchtower
    volumes:
      # Watchtower biasanya lebih pintar menangani socket windows
      - /var/run/docker.sock:/var/run/docker.sock
    command: --interval 30 --cleanup

# --- HAPUS SERVICE TRAEFIK ---

networks:
  local-net:
    name: local-net
