name: CI/CD Monorepo

on:
  push:
    branches: ["main"]

jobs:
  build-and-push:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v3

      - name: Login Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      # BUILD BACKEND
      - name: Build Backend
        uses: docker/build-push-action@v4
        with:
          context: ./src/backend
          push: true
          tags: anggoro2711/my-local-backend:latest

      # BUILD FRONTEND
      - name: Build Frontend
        uses: docker/build-push-action@v4
        with:
          context: ./src/frontend
          push: true
          tags: anggoro2711/my-local-frontend:latest
